@using mock_monitoring.Types
@{
    ViewData["Title"] = "Sensor Log";
}

@model List<SensorLog>

<div class="text-center">
    <h1 class="display-4">Sensor Log</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Sensor ID</th>
                <th>Timestamp</th>
                <th>Low</th>
                <th>Temperature</th>
                <th>High</th>
                <th>Enable</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var log in Model)
            {
                <tr class="@Status.getTableCSSClass(log.Status)">
                    <td>@log.SensorId</td>
                    <td>@log.Timestamp </td>
                    <td>@log.Low</td>
                    <td>@log.Temp</td>
                    <td>@log.High</td>
                    <td>@log.Enable</td>
                    <td>@Status.GetStatusDescription(log.Status)</td>
                </tr>
            }
        </tbody>
    </table>
    <a asp-action="Sensors" class="btn btn-secondary">Back to Sensors</a>
</div>
